.createfile-page {
   form {
      width: 70%;

      .btn {
         width: 100%;
      }

      .head {
         background-color: $dark-color;
         padding: 1rem;
         border-radius: 5px;
         margin-bottom: 1rem;

         input {
            font-size: 2rem;
            border: none;
         }
      }

      .box {
         margin: 1rem 0;
         background-color: $dark-color;
         padding: 1rem;
         border-radius: 5px;

         input {
            border: none;
            border-bottom: 2px solid $grey-color;
            border-radius: 0;
            padding-top: 0;
         }

         .main {
            padding-top: 0.5rem;
         }

         .answer {
            margin: 0 1.5rem;
         }

         .icon {
            border-top: 2px solid $grey-color;
            margin: 1.5rem 0 0 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0.5rem;

            i {
               color: $grey-color;
               font-size: 1.2rem;
               padding: 0.5rem;
               cursor: pointer;
               @include easeOut();

               &:hover {
                  color: $white-color;
               }
            }
         }
      }

      .file-option {
         background-color: $dark-color;
         padding: 0.5rem;
         display: flex;
         align-items: center;
         justify-content: center;
         max-width: 80px;
         margin-left: auto;
         border-radius: 5px;

         i {
            font-size: 1.2rem;
            margin: 0 0.5rem;
            padding: 1rem;
            color: $grey-color;
            cursor: pointer;
            @include easeOut();

            &:hover {
               color: $white-color;
            }
         }
      }
   }
}
