.file-page {
   .file {
      .head {
         margin-bottom: 1rem;
      }
      .showcase {
         background-color: $dark-color;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         padding: 1rem 0;
         min-height: 350px;
         border-radius: 5px;
         position: relative;

         .fa-star {
            position: absolute;
            top: 3%;
            left: 2%;
            transform: translate(-2%, -3%);
            cursor: pointer;
            font-size: 1.2rem;
            padding: 0.5rem;
            border-radius: 100%;
         }

         .icon {
            i {
               font-size: 12rem;
               margin-bottom: 1rem;
            }
         }

         img {
            width: 220px;
            margin: 1rem 0;
         }

         .details {
            margin-bottom: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
               margin: 0 1rem;

               i {
                  color: $grey-color;
                  opacity: 0.2;
                  @include easeOut();
                  cursor: pointer;

                  &:hover {
                     opacity: 1;
                     color: $white-color;
                  }
               }
            }
         }
      }

      .button {
         .btn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: $grey-color;

            i {
               font-size: 1.2rem;
               margin-right: 0.5rem;
            }
         }

         .delete {
            a {
               color: $danger-color;

               i {
                  color: $grey-color;
               }
            }
         }
      }

      .fields {
         .field {
            background-color: $dark-color;
            margin: 1rem 0;
            padding: 0.5rem 1rem;
            border-radius: 5px;

            .content {
               display: flex;
               align-items: center;
               justify-content: space-between;

               .details {
                  h6 {
                     color: $grey-color;
                  }
               }

               .icons {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  i {
                     font-size: 1.2rem;
                     color: $grey-color;
                     margin: 0 0.1rem;
                     padding: 0.5rem;
                     cursor: pointer;
                     @include easeOut();

                     &:hover {
                        color: $white-color;
                     }
                  }

                  .fa-trash:hover {
                     color: $danger-color;
                  }
               }
            }
         }
      }

      .photofields {
         background-color: $dark-color;
         border-radius: 5px;
         padding: 1rem;

         .head {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h6 {
               cursor: pointer;
               padding: 0.5rem 0;

               i {
                  margin: 0 0.5rem;
               }
            }
         }

         .photos {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            align-content: space-between;
            grid-gap: 1rem;
            width: 100%;

            .photo {
               display: flex;
               align-items: center;
               justify-content: center;
               position: relative;

               .head {
                  position: absolute;
                  top: 0%;
                  left: 0;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  width: 100%;

                  i {
                     background-color: rgba($dark-color, 0.6);
                     padding: 0.5rem;
                     opacity: 0.5;
                     color: $grey-color;
                     cursor: pointer;
                     @include easeOut();
                  }

                  .fa-trash:hover {
                     background-color: $danger-color;
                     color: $white-color;
                  }
               }

               img {
                  width: 100%;
                  height: 250px;
                  border-radius: 5px;
                  object-fit: cover;
               }

               small {
                  background-color: rgba($dark-color, 0.6);
                  opacity: 0;
                  position: absolute;
                  bottom: 0%;
                  padding: 0.5rem 0;
                  left: 50%;
                  transform: translate(-50%, -0%);
                  text-align: center;
                  font-weight: bold;
                  width: 100%;
                  @include easeOut();

                  i {
                     color: $grey-color;
                     opacity: 0.5;
                     @include easeOut();
                     cursor: pointer;

                     &:hover {
                        opacity: 1;
                        color: $white-color;
                     }
                  }
               }

               &:hover small,
               &:hover .head i {
                  opacity: 1;
               }
            }
         }

         .uploadmodal {
            background-color: rgba($dark-color, 0.6);
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            margin: auto;
            z-index: 2;

            .content {
               margin: 1rem 0;
               background-color: $primary-color;
               padding: 1rem 3rem;
               border-radius: 5px;
               width: 70%;

               .head {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
               }

               .modal {
                  border: 2px dotted $white-color;
                  height: 10rem;
                  color: $white-color;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 100%;
                  margin-bottom: 2rem;
                  border-radius: 5px;
               }

               .modal-active {
                  background-color: $grey-color;
                  height: 10rem;
                  color: $dark-color;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 100%;
                  margin-bottom: 2rem;
                  border-radius: 5px;
               }

               .desc {
                  input {
                     margin: 0.5rem 0;
                     width: 100%;
                     padding: 0.7rem 1rem;
                     outline: none;
                     border: none;
                     border-bottom: 2px dotted $grey-color;
                     font-family: 'Montserrat', sans-serif;
                     font-weight: bold;
                     background-color: transparent;
                     color: $white-color;
                  }
               }

               .preview-file {
                  div {
                     background-color: $dark-color;
                     display: flex;
                     align-items: center;
                     padding: 0.5rem;

                     img {
                        width: 50px;
                        object-fit: cover;
                        height: 50px;
                        margin-right: 1rem;
                     }
                  }
               }

               .button {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;

                  .btn {
                     color: $white-color;
                     width: inherit;

                     &:hover {
                        color: $grey-color;
                     }
                  }
               }
            }
         }
      }
   }

   .editfieldmodal {
      background-color: rgba($dark-color, 0.6);
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;

      .box {
         margin: 1rem 0;
         background-color: $primary-color;
         padding: 1rem;
         border-radius: 5px;

         input {
            border: none;
            border-bottom: 2px solid $grey-color;
            border-radius: 0;
            padding-top: 0;
         }

         .main {
            padding-top: 0.5rem;
         }

         .answer {
            margin: 0 1.5rem;
         }

         .icon {
            border-top: 2px solid $grey-color;
            margin: 1.5rem 0 0 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0.5rem;

            i {
               color: $grey-color;
               font-size: 1.2rem;
               padding: 0.5rem;
               cursor: pointer;
               @include easeOut();

               &:hover {
                  color: $white-color;
               }
            }
         }

         .button {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .btn {
               color: $white-color;
               width: inherit;

               &:hover {
                  color: $grey-color;
               }
            }
         }
      }
   }

   .editimagedescmodal {
      background-color: rgba($dark-color, 0.6);
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      width: 100%;
      margin: auto;

      .content {
         background-color: $primary-color;
         width: 70%;
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 5px;

         .box {
            .img {
               display: flex;
               align-items: center;
               justify-content: center;

               img {
                  width: 150px;
                  height: 150px;
                  border-radius: 100%;
                  object-fit: cover;
               }
            }

            .input {
               input {
                  border: none;
                  border-bottom: 2px solid $grey-color;
                  border-radius: 0;
               }
            }
         }

         .button {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .btn {
               color: $white-color;
               width: inherit;

               &:hover {
                  color: $grey-color;
               }
            }
         }
      }
   }

   .editfilenamemodal {
      background-color: rgba($dark-color, 0.6);
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;

      .box {
         margin: 1rem 0;
         background-color: $primary-color;
         padding: 1rem;
         border-radius: 5px;

         input {
            border: none;
            border-bottom: 2px solid $grey-color;
            border-radius: 0;
            padding-top: 0;
         }

         .main {
            padding-top: 0.5rem;
         }

         .answer {
            margin: 0 1.5rem;
         }

         .icon {
            border-top: 2px solid $grey-color;
            margin: 1.5rem 0 0 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0.5rem;

            i {
               color: $grey-color;
               font-size: 1.2rem;
               padding: 0.5rem;
               cursor: pointer;
               @include easeOut();

               &:hover {
                  color: $white-color;
               }
            }
         }

         .button {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .btn {
               color: $white-color;
               width: inherit;

               &:hover {
                  color: $grey-color;
               }
            }
         }
      }
   }

   .confirmmodal {
      background-color: rgba($dark-color, 0.6);
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;

      .content {
         width: 40%;
         border-radius: 5px;
         flex-direction: column;
         background-color: $primary-color;
         padding: 1rem;

         h4 {
            border-bottom: 2px solid $grey-color;
            display: block;
            text-align: center;
         }

         .button {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .btn {
               width: inherit;

               &-danger:hover {
                  color: $white-color;
               }
            }
         }
      }
   }
}
