.file-page {
   .file {
      .head {
         margin-bottom: 1rem;
      }
      .showcase {
         background-color: $dark-color;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         padding: 1rem 0;
         min-height: 350px;
         border-radius: 5px;

         img {
            width: 220px;
            margin: 1rem 0;
         }

         .details {
            margin-bottom: 2rem;
         }
      }

      .button {
         .btn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: $grey-color;

            i {
               font-size: 1.2rem;
               margin-right: 0.5rem;
            }
         }

         .delete {
            color: $danger-color;

            i {
               color: $grey-color;
            }
         }
      }

      .fields {
         .field {
            background-color: $dark-color;
            margin: 1rem 0;
            padding: 0.5rem 1rem;
            border-radius: 5px;

            .content {
               display: flex;
               align-items: center;
               justify-content: space-between;

               .details {
                  h6 {
                     color: $grey-color;
                  }
               }

               .icons {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  i {
                     font-size: 1.2rem;
                     color: $grey-color;
                     margin: 0 0.1rem;
                     padding: 0.5rem;
                     cursor: pointer;
                     @include easeOut();

                     &:hover {
                        color: $white-color;
                     }
                  }

                  .fa-trash:hover {
                     color: $danger-color;
                  }
               }
            }
         }
      }
   }
}
