.homepage {
   .content {
      margin-top: 3rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
         font-size: 7rem;
         font-family: 'Smooch', cursive;
         letter-spacing: 20px;
         transform: rotate(-20deg);
      }

      h4,
      h5 {
         color: $grey-color;
      }

      h5 {
         line-height: 1;
         opacity: 0;
         @include easeOut();
      }

      .show {
         opacity: 1;
      }
   }
}
