@import 'config';
@import 'utilities';
@import 'homepage';
@import 'authentication';
@import 'landingpage';
@import 'filepage';
@import 'createfilepage';
@import 'addfieldpage';
@import 'photospage';
@import 'searchpage';
@import 'profilepage';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   line-height: 1.7;
   width: 100%;
   min-height: 100vh;
   background: url('https://images.pexels.com/photos/1181772/pexels-photo-1181772.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
   background-color: $black-color;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   color: $white-color;
   position: relative;
}

body::after {
   content: '';
   background-color: rgba(0, 0, 0, 0.8);
   position: absolute;
   top: 0;
   right: 0%;
   left: 0;
   bottom: 0;
   z-index: -1;
}

header {
   background: transparent;
   height: 60px;
   width: 100%;
   z-index: 3;
   position: sticky;
   top: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   @include easeOut();

   .header {
      width: 95%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   h4 {
      a {
         font-family: 'Smooch', cursive;
         margin: 0;
         letter-spacing: 2px;
      }
   }

   a {
      margin: 0 0.5rem;
   }

   nav {
      strong {
         cursor: pointer;
         color: $grey-color;
         @include easeOut();

         &:hover {
            color: $white-color;
         }
      }
   }
}

header.active {
   background-color: rgba($dark-color, 0.9);
   border-bottom: 2px solid $grey-color;
}

.userButton {
   background-color: $primary-color;
   position: fixed;
   bottom: 2%;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   right: 0%;
   padding: 1rem;
   cursor: pointer;

   .content {
      display: none;
      // -webkit-animation-name: zoom;
      // -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
   }

   // @-webkit-keyframes zoom {
   //    from {
   //       -webkit-transform: scale(0);
   //    }
   //    to {
   //       -webkit-transform: scale(1);
   //    }
   // }

   @keyframes zoom {
      from {
         transform: scale(0);
         opacity: 0;
      }
      to {
         transform: scale(1);
         opacity: 1;
      }
   }

   i {
      font-size: 2rem;
   }

   &:hover > .content {
      display: flex;
      align-items: center;
      justify-content: center;

      .details {
         padding: 0 1rem;
         line-height: 1.2;

         small {
            margin-left: 0.5rem;
            color: $grey-color;
            font-weight: bold;
         }
      }
   }
   &:hover > .icon {
      display: none;
   }
}

footer {
   padding-left: 2rem;
   // background-color: red;
   p {
      font-weight: bold;
   }
}

@import 'mobile';
